# Column normalization

In [15]:
import pandas as pd
import warnings

warnings.filterwarnings(action='ignore', category=DeprecationWarning)

In [12]:
data = pd.read_csv('datasets/jobs_in_data.csv')
data.head(2)

,work_year,job Title,Job category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2023,Data DevOps Engineer,Data Engineering,EUR,88000,95012,Germany,Mid-level,Full-time,Hybrid,Germany,L
1,2023,Data Architect,Data Architecture and Modeling,USD,186000,186000,United States,Senior,Full-time,In-person,United States,M

In [14]:
data.columns

Index(['work_year', 'job Title', 'Job category', 'salary_currency', 'salary',
       'salary_in_usd', 'employee_residence', 'experience_level',
       'employment_type', 'work_setting', 'company_location', 'company_size'],
      dtype='object')

In [17]:
data.columns = data.columns.str.lower()
data.columns

Index(['work_year', 'job title', 'job category', 'salary_currency', 'salary',
       'salary_in_usd', 'employee_residence', 'experience_level',
       'employment_type', 'work_setting', 'company_location', 'company_size'],
      dtype='object')

In [19]:
data.columns = data.columns.str.lower().str.replace(' ', '_')
data.columns

Index(['work_year', 'job_title', 'job_category', 'salary_currency', 'salary',
       'salary_in_usd', 'employee_residence', 'experience_level',
       'employment_type', 'work_setting', 'company_location', 'company_size'],
      dtype='object')